# == 应用配置 ==
# 运行模式 debug test release (默认：release)
GIN_MODE=release
# 监听端口 (默认：127.0.0.1:8000）
APP_RUN_ADDRESS=127.0.0.1:8000

# == 邮件配置 ==
# 账号
APP_EMAIL_USERNAME=admin@163.com
# 密码
APP_EMAIL_PASSWORD=123456
# 邮件服务地址
APP_EMAIL_HOST=smtp.163.com
# 邮件服务端口号
APP_EMAIL_PORT=25